:root{
    --mainColor:#009688;
    --lineColor:#FFF;
}
h1{
    width: 150px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
    position: relative;
}
h1::before{
    content: "";
    width: 100%;
    background: var(--mainColor);
    position: absolute;
    height: 100%;
    top: 0;
    left: -32px;
    z-index: -1;
    transform: skewX(20deg); 
}
h1::after{
    content: "";
    width: 10px;
    background: var(--lineColor);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: skewX(20deg);
}